{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="card mb-5 custom-shadow">
        <div class="row">
            <!-- Миниатюра -->
            <div class="col-md-4">
                <img src="{{ product.image.url }}"
                    class="img-thumbnail custom-image" style="height: 400px;" data-bs-toggle="modal" data-bs-target="#imageModal1">
            </div>
            
            
            <!-- Текст справа от картинки -->
            <div class="col-md-8">
                <p class="product_id mt-3">id: {{ product.display_id }}</p>
                <!-- Перенесём сюда часть контента из card-body -->
                <h5 class="card-title">{{ product.name }} {% if product.get_color %}{{product.get_color}}{% endif %}{% if product.get_size %} {{product.get_size}} {% endif %}</h5>
                <div class="product-description" style="white-space: pre-wrap; margin-right: 20px; margin-left: 10px;">{{ product.description }}</div>
                {% if product.get_color %}
                <div>
                    <hr>
                    <span style="display: inline-block; margin-left: 10px;">Цвет</span>
                    <span style="float: right; margin-right: 100px;">{{ product.get_color }}</span>
                    <hr>
                </div>
                {% endif %}
                {% if product.get_size %}
                <div>
                    <hr>
                    <span style="display: inline-block; margin-left: 10px;">Длина</span>
                    <span style="float: right; margin-right: 100px;">{{ product.get_size }}</span>
                    <hr>
                </div>
                {% endif %}
            </div>
            {% if product.image_schem %}
                <div class="col-md-4">
                    <img src="{{ product.image_schem.url }}"
                        class="img-thumbnail custom-image" data-bs-toggle="modal" data-bs-target="#imageModal2">
                </div>
            {% endif %}
            <div class="col-md-8">
                <h4 class="card-text" style="padding: 25px 100px; font-size: 20px;">Цена: <strong>{{ product.sell_price }} Руб</strong></h4>
                <div class="text-center">
                    <a href="{% url "cart:cart_add" %}" class="btn btn-info add-to-cart"
                        data-product-id="{{ product.id }}" style="padding: 15px 100px; font-size: 18px;">
                        {% csrf_token %}
                        Добавить в корзину
                    </a>
                </div>
            </div>
            
            
        </div>
        
        <!-- Увеличить изображение в модальном окне -->
        <div class="modal fade" id="imageModal1" tabindex="-1"
            aria-labelledby="imageModal1Label" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="imageModal1Label">{{ product.name }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                            aria-label="Закрыть"></button>
                    </div>
                    <div class="modal-body">
                        <img src="{{ product.image.url }}"
                            class="img-fluid" alt="Изображение 1">
                    </div>
                </div>
            </div>
        </div>

        {% if product.image_schem %}
                <!-- Увеличить изображение в модальном окне -->
            <div class="modal fade" id="imageModal2" tabindex="-1"
                aria-labelledby="imageModal1Label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageModal1Label">{{ product.name }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Закрыть"></button>
                        </div>
                        <div class="modal-body">
                            <img src="{{ product.image_schem.url }}"
                                class="img-fluid" alt="Изображение 1">
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        
    </div>
</div>

    <!-- Блок сопутствующих товаров -->
    {% if related_products %}
    <div class="card mt-5 mb-4 custom-shadow">
        <div class="card-header bg-dark text-white">
            <h4 class="mb-0">С этим товаром покупают</h4>
        </div>
        <div class="card-body">
            <div class="row">
                {% for related in related_products %}
                <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                    <div class="card h-100">
                        <a href="{{ related.get_absolute_url }}">
                            <img src="{{ related.image.url }}" 
                                 class="card-img-top img-fluid" 
                                 alt="{{ related.name }}"
                                 style="height: 200px; object-fit: cover;">
                        </a>
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="{{ related.get_absolute_url }}" class="text-dark">{{ related.name }} {% if related.get_color %}{{related.get_color}}{% endif %}{% if related.get_size %} {{related.get_size}} {% endif %}</a>
                            </h5>
                            <p class="card-text">
                                <strong>{{ related.sell_price }} ₽</strong>
                                {% if related.discount %}
                                <span class="text-danger"><s>{{ related.price }} ₽</s></span>
                                {% endif %}
                            </p>
                            <a href="{% url "cart:cart_add" %}" 
                               class="btn btn-sm btn-dark add-to-cart"
                               data-product-id="{{ related.id }}">
                                {% csrf_token %}
                                Добавить в корзину
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

{% endblock %}

