{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded custom-shadow">
                <h2 class="text-center mb-4">Письмо отправлено</h2>
                <p>
                    Мы отправили вам инструкции по установке нового пароля на указанный адрес электронной почты.
                    Вы должны получить письмо в ближайшее время.
                </p>
                <p>
                    Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес, на который зарегистрировались,
                    и проверьте папку со спамом.
                </p>
                <div class="mt-3">
                    <a href="{% url 'user:login' %}">Вернуться к входу</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}